body {
	background-color: rgba(255, 255, 240,0.3)
}

header {
	text-align: center;
	color: indigo;
	background-color: rgba(255, 255, 240,0.3)
}

.dedicationText {
	border: 3px solid black;
	border-radius: 7px;
	padding: 7px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 97%;
	height: auto;
}

.ptBtn_grid {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, minmax(70px, 1fr));
	grid-template-rows: auto auto;
	place-self: center;
}

.ptBtn_grid div {
	background-color: black;
	color: white;
	font-size: 70px;
	text-align: center;
	padding: 25%;
	width: 70px;
	max-width: 100%;
	height: auto;
	border: none;
	border-radius: 5px;
	margin: 7px;
	place-self: center;
	cursor: pointer;
}

.ptBtn_grid div:active {
	background-color: purple;
}

.ptBtn_flex {
	display: flex;
	justify-content: center;
}

.ptBtn_flex div {
	flex-grow: 1;
	background-color: black;
	color: white;
	font-size: 70px;
	text-align: center;
	padding: 70px;
	height: 70px;
	border: none;
	border-radius: 5px;
	margin: 7px;
	justify-content: center;
	cursor: pointer;
}

.ptBtn_flex div:active {
	background-color: purple;
}

/*OTHER PAGES GEN FORMATTING*/

.pagenav {
  display: flex;
  justify-content: center;
  list-style: none; /* remove list bullets */
  padding: 0px;
}

.pagenav li a {
  display: block; /* let links fill the list item */
  padding: 20px 22px;
  text-decoration: none;
  border: 1px solid black;
  color: white;  
  background-color: black;
  margin: 0 4px;
  border-radius: 5px;
}

.pagenav li a:active {
	background-color: purple;
}

.mainB {
	white-space: pre-wrap;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	border-radius: 7px;
}

.mainW {
	white-space: pre-wrap;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	border-radius: 7px;
	border: 3px solid black;
}

h3 {
	text-decoration: underline;
	font-style: italic;
}

.poemB {
	border: 7px solid black;
	border-radius: 3px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.4);
}

.poemW {
	border: 4px solid white;
	border-radius: 3px;
	margin: auto;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
}
